import React from 'react';
import styles from './{{dashCase name}}.css';

export default class {{ properCase name }} extends React.Component {

    static defaultProps = {
        type: '',
    };

    static propTypes = {
        type: React.PropTypes.string,
    };

    render() {
        return (
            <div className={ styles.{{camelCase name}} }>
                <h2>{{ properCase name }}</h2>
            </div>
        );
    }

}
